.container{
    width:100%;
    height: 600px;
    overflow-y: hidden;
    box-sizing:border-box;
    background-color: rgb(246, 230, 241);
    

}

.info-con{
    position: sticky;
    min-height: 20px;
    width: 100%;
    background-color: rgb(179, 182, 179);
    text-align: center;
    z-index: 1;
}

.info-con h5{
    padding: 6px;
    color: aliceblue;
}


.img-con{
    width: 100%;
    height: 460px;
    object-fit: fill;

}
.info-con2{
    width: 100%;
    height: 60px;
    background-color: brown;
}

.info-con2 h2{
    color: aliceblue;
    padding: 10px;
}

.icons{
    display: flex;
    color:#fff;
}
.icon{
     margin-right: 20px;
    margin-left: 5px;
    font-size: 20px;
}
.icon:hover{
    color: #e98e33;
    cursor: pointer;
}

.banner{
    position: relative;
    display: flex;
}

.model-img{
    width: 300px;
    margin-left: 420px;
    z-index: 1;
}

.model-quote{
    text-align: left;
    width: 500px;
}
.model-quote h1{
    position: absolute;
    top: 70px;
    color: rgb(82, 65, 43);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
 }
.model-quote h3{
    position: absolute;
    top: 95px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: aqua;
  font-weight: 500;
  font-size: 100px;
} 
.model-quote h3:hover{
    color: rgba(10, 10, 10, 0.665);
}

.model-quote h4{
    position: absolute;
    top: 190px;
    color: rgb(231, 173, 98);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}
.model-quote h5{
    position: absolute;
    top: 220px;
    color: cornflowerblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
}
.model-box{
    width: 100%;
    height: 170px;
    background-color: rgb(45, 54, 51);
    position: absolute;
    top: 300px;
    z-index: 0;
}
main{
    background-color: #eaeff6;
    width: 98%;
    margin: 0 auto;
}
.single h2 {
	text-transform: capitalize;
	padding-bottom: 10px;
	margin-bottom: 20px;
	position: relative;
}
.pg-header{
    height: 80px;
}
.col-lg-5 {
    padding: 1rem;
}
.single h2::after {
	position: absolute;
	content: '';
	width: 50px;
	bottom: -6px;
	height: 2px;
	background-color: #666;
	left: 0;
}

.single .btn-primary {
	font-weight: 600;
}

.single .price {
	font-size: 22px;
}

.single .price strong {
	color: #0a58ca;
}

.plus-icon{
    text-align: center;
    color: #fff;
    font-size: 30px;
}
.pagination{
    width: 100%;
    height: 50px;
    padding-top: 5px;
    background-color: #101010;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.pagination button{
    width: 40px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: #fff;
    border-color: #eee;
}

.pagination button.active {
    font-weight: 500;
    border-color: #101010;
    background:#ffe400;
    color: #101010;
}

.error-img{
    display: flex;
    justify-content: center;
    width: 100%; 
}
.error-btn{
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 5px;
    background-color: #101010;
    color: #fff;
    text-decoration: none;
    position: absolute;
    margin-left: 625px;
    border-radius: 7px;
}

.contact-img{
  position: relative;
  width: 100%;
  height: 100vh;
}

.contact-text{
    width: 100%;
    height: 125vh;
    position: absolute;
    top: 57px;
    background-color: #10101080;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-top: 400px;
}
.contact-text h1{
    color: #fff;
}
.contact-text h3{
    color: #fff;
}